-# in app/views/foods/show.html.haml
.w3-container
  %h2.w3-teal #{@food.short_description}

.w3-container

  %h3 Food Group #{@food.food_group_code_id}

  %h3 Macronutrients

  .w3-quarter Carbohydrate
  .w3-quarter Fat
  .w3-quarter Protein
  .w3-quarter Nitrogen 






